/* 하나의 프레임이 있는 box 입니다! */
.box {
  width: 300px;
  padding: 20px;
  /* border: 2px solid #FDD835; */
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto  
}


/* 해쉬태그 관련입니다! */
.content {
font-size: 20px;
color: #939393;
}

/* 나중에 유저 id들어갈 곳입니다! */
.title {
font-size: 20px;
}

/* 프로필 입니다 */
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* 이미지 저장이 가능한 more 버튼 */
/* 오른쪽 정렬 하고 싶은데 안 됩니다..ㅠㅠ */
.more-img {
width: 35px;
height: 35px;
float: right;
}

.username {
  font-size: 20px;
}

/* 네컷 사진 아래 들어가는 seul. 로고 입니다 */
.seul {
  color: white;
  font-size: 20px;
  font-weight: bold;
  /* 여기는 frame에 가야지 작동됩니다. 
  display: flex;
  align-items: center; 
  justify-content: center;*/
}

/* 노랑 배경이 있고 네 컷을 다 담는 frame 입니다 */
.frame {
  width: 260px;
  padding: 7px;
  background-color: #FDD835;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;  /* 세로축 가운데 정렬 */
  justify-content: center; /* 가로축 가운데 정렬 */
  border-radius: 25px;
}

/* 프레임 내부 각각의 이미지 관련 css입니다 */
.frame-img {
background-color: white;
width: 250px;
height: 180px;
max-width: 250px;
background-size: cover;
background-position: center;
border-radius: 25px;

}

.join-img {
border-radius: 50%;
position: relative; width: 150px; height: 150px; overflow: hidden; border-radius: 50%;
border: 5px solid #FDD835;
position: absolute;
}

.join {
color: black;
display: flex;
align-items: center;  /* 세로축 가운데 정렬 */
justify-content: center; /* 가로축 가운데 정렬 */
font-size: 15px;
}

.tutorial {
width: auto;
padding: 20px;
box-sizing: border-box;
}

.tutorial_join {
width: 250px;
height: auto;
padding: 20px;
box-sizing: border-box;
}


.likes {
width: 50px;
height: 40px;
display: flex;
align-items: left;
/* 이외의 스타일 */
}