/* Bar */
.link-bar {
  position: fixed;
  top: 0; 
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdd835;
  padding: 1em;
  z-index: 999; 
}

.link-left, .link-right {
  display: inline-block;
}

.link-bar a {
  margin-right: 1em;
  color: white;
  text-decoration: none;
}

.logout-btn {
  display: inline-block;
  background: #F1F9FB;
  border-radius: 20px;
  border: 2px solid white;
  text-align: center;
  font-size: 14px;
  color: #4169E1;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}


/***********
*index.html*
************/
/* 하나의 프레임이 있는 box 입니다! */
.box {
  margin-left: auto;
  margin-right: auto; 
  width: 300px;
  padding: 20px;
  /* border: 2px solid #FDD835;  */
  border-radius: 10px;
  box-sizing: border-box;
}

.divide-line{
  width: 400px;
  margin-bottom: 20px;
  border: 1px solid #FDD835; 
  /* margin-left: auto;
  margin-right: auto;   */
  /* margin: 0 auto; */
}

/* 해쉬태그 관련입니다! */
.content {
font-size: 20px;
color: #939393;
}

/* 나중에 유저 id들어갈 곳입니다! */
.title {
font-size: 20px;
}

/* 프로필 입니다 */
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}


.more-img {
  position: absolute; 
  right: -120px;
  top:-20px;
  width: 35px;
  height: 35px;
}

.username {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


/* 네컷 사진 아래 들어가는 seul. 로고 입니다 */
.seul {
  color: white;
  font-size: 20px;
  font-weight: bold;
  /* 여기는 frame에 가야지 작동됩니다. 
  display: flex;
  align-items: center; 
  justify-content: center;*/
}

/* 노랑 배경이 있고 네 컷을 다 담는 frame 입니다 */
.frame {
  width: auto;
  padding: 7px;
  background-color: #FDD835;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;  /* 세로축 가운데 정렬 */
  justify-content: center; /* 가로축 가운데 정렬 */
  border-radius: 25px;
}

/* 프레임 내부 각각의 이미지 관련 css입니다 */
.frame-img {
background-color: white;
width: 250px;
height: 180px;
max-width: 250px;
background-size: cover;
background-position: center;
border-radius: 25px;

}

/*이거 어디 페이지 조인인지 물어보기*/
.join {
color: black;
display: flex;
align-items: center;  /* 세로축 가운데 정렬 */
justify-content: center; /* 가로축 가운데 정렬 */
font-size: 15px;
}

.likes {
width: 50px;
height: 40px;
display: flex;
align-items: left;
/* 이외의 스타일 */
}

/*fixed button*/
.coffee-event{
  background-color : #FFEB3B;
  color: black;
  border-radius: 5px;
  border-color: #FFEB3B;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  font-size: 15px;
  font-family:monospace;
  font-weight: bold;
}

#mybutton {
  position: fixed;
  top: 100px;
  /* right: 330px; */
}

/*fixed button*/
.bug-report{
  background-color : #A7A6BA;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  border-color: #E7E7E7;
  font-size:11px;
}

#bugbutton {
  position: fixed;
  bottom: 10px;
  right: 5px;
}




/************
*upload.html*
*************/
h3 {
  color: #0A0A0A;
  font-size: 1.00rem;
  font-weight: 500;
  margin: 0.5em 0;
}

h3.recommendation {
  color: #8E8E93;
  font-size: 1rem;
  font-weight: 400;
}

h3.create-title {
  color: black;
  font-size: 1.3rem;
  font-weight: 400;
}

.container {
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

.container input {
     border-radius: 30px;
}

/***********
*tutorial.html*
************/
.tutorial-container {
  font: 1.2em "Fira Sans", sans-serif;
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 20px;
  max-width: 500px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: #fff;
}

.tutorial-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}

.tutorial-seul {
  font: italic 1.2em "Fira Sans", serif;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fdd835;
}

.tutorial-section {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 1.5em;
}

.tutorial-header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #333;
}

.tutorial-content {
  font-size: 0.9em;
  line-height: 1.5;
  color: #666;
}

.tutorial-link {
  color: #fdd835;
  text-decoration: none;
  font-weight: bold;
}

.tutorial-image {
  width: 100%;
  height: auto;
  margin-top: 1em;
  border-radius: 10px;
}

.tutorial_join {
  width: 180px;
  height: 70px;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 5px;
}

.highlight {
  font-weight: bold;
  color: #fdd835;
}


/***********
*contact.html*
************/
.contact_us {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: #fff;
}

.contact_us h3 {
  color: #2F4F4F;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.contact_us input[type="text"],
.contact_us input[type="email"],
.contact_us textarea {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  border-radius: 5px;
  font-size: 1em;
}

.contact_us button {
  width: 100%;
  padding: 10px;
  background-color: #FDD835;
  color: #2F4F4F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1em;
}

.contact_us button:hover {
  background-color: #CDA30F;
}


/**********
*login.html*
***********/
.login-with-google-btn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  padding: 10px 20px;
  margin: 11px 4px;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.login-with-google-btn:hover {
  box-shadow: 1px 1px 1px #aaa;
  border-color: #777;
}

.login-with-google-btn:active {
  box-shadow: none;
  background: #eee;
}

/**********
**Survey***
***********/
.btn.custom-btn {
  background-color: #FDD835;
  border-color: #FDD835;
  color: white; /* This changes the text color */
}
