#tutorial-onboarding-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  

.tutorial-onboarding-screen {
    display: none;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .tutorial-onboarding-screen.active {
    display: block;
  }

  .next-button, .prev-button {
    /* text-align: right; */
    cursor: pointer;
    background-color: white;
    color: #FDD835; 
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.boarding-fix {
  margin-left: auto;
  margin-right: auto; 
  width: 330px;
  height: 520px;
}

.tutorial-section{
  margin-left: auto;
  margin-right: auto; 
}